sudo: required
services:
    - docker

before_install:
  - docker build -t yonatanharel/docker-react -f Dockerfile.dev .

script:
  - docker run yonatanharel/docker-react npm run test -- --coverage

#deploy:
#  provider: heroku
#  api_key:
#    secure: "YOUR ENCRYPTED API KEY"

deploy:
  provider: heroku
  api_key: 
    secure: 
  app: docker-react-yh